.bodybackground {
  background-color: #171717;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
}

table {
  text-align:left;
}

.flex-container {
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  align-content:center;
  flex-wrap:nowrap;
  position: fixed;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

.divbutton {
  background-color: white;
  background-color: rgba(0,0,0,0);
  border-style: solid;
  border-width: 0px;
  margin: 0; padding: 0;
  display: inline-block;
  width: 30%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}


.divbutton > .title {
  color: #EDEDED;
  font-size: 36px;
}

.divbutton:hover > .title {
  color: black;
}

.divbutton:hover {
  background-color: white;
}

.divbuttonAnimation {
  animation: clickButton 2s;
  animation-fill-mode: forwards;
  -webkit-animation: clickButton 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: clickButton 2s;
  -o-animation: clickButton 2s;
  -o-animation-fill-mode: forwards;
  overflow: auto;
  order : 99;
}

.divbuttonAnimation:hover {
  background-color: rgba(0,0,0,0);
}

.divbuttonAnimation .buttonContent {
  display: block;
}

.divbuttonAnimation > .title {
  display: none;
}

.buttonContent {
  display: none;
  background-color: white;
  text-align: center;
  overflow: auto;
  height: 100%;
}

@keyframes clickButton{
  0%  {width: 0; height: 0;}
  100% {width: 100%; height: 100%;}
}

@-webkit-keyframes clickButton{
  0%  {width: 0; height: 0;}
  100% {width: 100%; height: 100%;}
}

@-moz-keyframes clickButton{
  0%  {width: 0; height: 0;}
  100% {width: 100%; height: 100%;}
}

@-o-keyframes clickButton{
  0%  {width: 0; height: 0;}
  100% {width: 100%; height: 100%;}
}

/* handle image show */

.middle_img {
  width: 100%;
  height: 160px;
  text-align: center;
  margin:0px auto;
  display: flex;
  justify-content:space-around;
  align-items:flex-start;
}


.middle_img div{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: none;

  width: 30%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  text-align: center;
  
  -webkit-animation: change_img 12s linear infinite;
  animation: change_img 12s linear infinite;
}

.middle_img div img {
  height: 100%;
  width: auto;
}

.middle_img:hover div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes change_img {
  5% {
    opacity: 1;
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    /* 1- 4秒靜止*/
  }
  25% {
    opacity: 0;
    /* 4-5秒淡出*/
  }
}
@keyframes change_img {
  5% {
    opacity: 1;
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    /* 1- 4秒靜止*/
  }
  25% {
    opacity: 0;
    /* 4-5秒淡出*/
  }
}

.middle_img div:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.middle_img div:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.middle_img div:nth-child(3) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

.UImask {
  background-color: #803CFF;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 0%;
  height: 0%;
}

.ajaxform {
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  left : 50%;
  transform: translateX(-50%);
}